.navbar{
    background-color: #CD9C20 !important;
    width: 40vw;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    font-family: "Josefin Sans", sans-serif !important;
}
.me-auto{
    margin: 5vw;
    margin-top: 0;
    margin-bottom: 0;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

.navbar-link {
    margin-left: 2vw;
    margin-right: 2vw;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.navbar-link:hover{
    font-weight: bold !important;
    border-bottom: 1px solid #ffffff !important;
}
