.wholeForm{
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: auto;
}

.info-card{
    height: 600px;
}

.pageHeader{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: auto;
}

.pageSubHeader{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: auto;
}

.wholeForm{
    margin-bottom: 150px;
    margin-top: 50px;
}

.addProp_Form{
    height: 564px;
}

.propertyFeatures{
    margin-bottom: 10px;
}

.selectPropertyType{
    margin-top: 10px;
}

.plans-cont{
    margin-top: 100px;
    margin-bottom: 100px;
}

.submitPropBtn{
    background-color: #CD9C20 !important;
    border: 2px solid #CD9C20;
    color: #ffffff !important;
    border: none;
    float: right;
    margin-top: 10%;
}